@model HikingTrails.Models.Hike

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trailname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trailname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HikeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
