@model IEnumerable<HikingTrails.Models.Hike>

@{
    ViewData["Title"] = "Hikes";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.TrailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailname)
            </th>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.TrailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailname)
            </td>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HikeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HikeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HikeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
