@model IEnumerable<HikingTrails.Models.Trail>

@{
    ViewData["Title"] = "Trails";
}

<h1>@ViewData["Title"]</h1>

@{
    ViewData["Title"] = "Users";
}

@{
    string userMessage = TempData?["UserMessage"]?.ToString() ?? "";
}
@if (userMessage != "")
{
    <div class="text-success">@userMessage</div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrailName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrailName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrailId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TrailId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TrailId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
